

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Driver Delivery Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <script src = "/socket.io/socket.io.js"></script>
    <script>
    function sendDriverInfo() {
      var socket = io();
      socket.emit('saveUserInfo', 'D', document.getElementById('dID').innerHTML);
    }
    </script>
</head>

<body style="background-color: #999999;">

<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('images/SignUpPage.jpg');"></div>
        <div class="wrap-login100 p-l-60 p-r-50 p-t-32 p-b-50">
            	<span class="login100-form-title p-b-20">
						Delivery Page
					</span>
            <p class="label-input100"><font size="5">Driver ID: <span id="dID">{{dID}}</font></p><br><br>
            <p class="label-input100"><font size="5">Start to receive delivery</font></p>
            <br>
            <form class="login100-form validate-form" method="post">
                    <input type="radio" name="ready" checked>
                <span><font size="4"><b>OFF</b></font></span><br>
                    <input type="radio" name="ready" onclick="sendDriverInfo()">
                <span><font size="4"><b>ON</b></font></span><br>
            </form>
		<br> <br> <br>
            <br>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn" align="center">
                    <div class="login100-form-bgbtn"></div>
                    <a href="/driver"><button class="login100-form-btn" >Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>
