<!DOCTYPE html>
<html lang="en">
<head>
    <title>Receiving Order Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <script src = "/socket.io/socket.io.js"></script>
    <script>
    /** Sends driver ID info to the server. */
    var socket = io();
    socket.on('orderID', function (data) {
      window.alert('Order Accepted!\nOrder ID:' + data.orderID);
    });
    function turnOff() {
      socket.emit('updateNotifi', document.getElementById('dID').innerHTML, 'OFF');
    }
    function sendDriverInfo() {
      socket.emit('saveUserInfo', 'D', document.getElementById('dID').innerHTML);
      socket.emit('updateNotifi', document.getElementById('dID').innerHTML, 'ON');
      getRequest();
    }
    /** Gets order requests from restaurants on real-time. */
    var orderNum = 0;
    function getRequest() {
      // Receives order information.
      socket.on('orderInfoToD', function(data) {
        document.getElementById("requests").innerHTML +=
                  '<input type="radio" name="order" value="order' + orderNum + '">' +
                  '<p>Restaurant ID: <span id="rID' + orderNum + '">' + data.rID + '</span></p>' +
                  '<p>Restaurant Name: <span id="rName' + orderNum + '">' + data.rName + '</span></p>' +
                  '<p>Restaurant Address: <span id="rAddr' + orderNum + '">' + data.rAddr + '</span></p>' +
                  '<p>Distance to Restaurant: <span id="distToRest' + orderNum + '">' + data.distToRest + '</span></p>' +
                  '<p>Destination: <span id="dest' + orderNum + '">' + data.dest + '</span></p>' +
                  '<p>Delivery Distance: <span id="dist' + orderNum + '">' + data.distance + '</span></p>' +
                  '<p>Delivery Duration: <span id="time' + orderNum + '">' + data.duration + '</span></p>' +
                  '<p>Price: $<span id="price' + orderNum + '">' + data.price + '</span></p>' +
                  '<hr class="my-4">';
        // Order information that will be hidden but used when sending info back to the server.
        document.getElementById("hiddenInfo").innerHTML +=
                  '<p>Driver Name: <span id="dName' + orderNum + '">' + data.dName + '</span></p>' +
                  '<p>Driver Phone: <span id="dPhone' + orderNum + '">' + data.dPhone + '</span></p>' +
                  '<p>Duration to Restaurant: <span id="timeToRest' + orderNum + '">' + data.timeToRest + '</span></p>' +
                  '<hr class="my-4">';
        orderNum += 1;
        // Create accept button when at least one request posted, if not created yet.
        if (document.getElementById("acceptB").innerHTML.length == 0 &&
            document.getElementById("requests").innerHTML.length != 0) {
              document.getElementById("acceptB").innerHTML +=
                              '<div class="wrap-login100-form-btn" align="center">' +
                              '<div class="login100-form-bgbtn"></div>' +
                              '<button id="accept" class="login100-form-btn" onclick="acceptOrder()">Accept</button>'
        }
      });
    }
    /**
     * When the driver chooses and accepts an order,
     * all the order information will be sent back to the server.
     */
    function acceptOrder() {
      var options = document.getElementsByName('order');
      // Find the selected order and send the corresponding order info to the server.
      for (var i = 0; i < options.length; i++){
        if (options[i].checked) {
          var submit = function (rID, dest, dist, time, price, dName, dPhone, distToRest, timeToRest) {
            socket.emit('orderAccepted',
                    document.getElementById("dID").innerHTML, document.getElementById(rID).innerHTML,
                    document.getElementById(dest).innerHTML, document.getElementById(dist).innerHTML,
                    document.getElementById(time).innerHTML, document.getElementById(price).innerHTML,
                    document.getElementById(dName).innerHTML, document.getElementById(dPhone).innerHTML,
                    document.getElementById(distToRest).innerHTML, document.getElementById(timeToRest).innerHTML);
            //window.alert('Order Accepted!');
          }
          submit('rID' + i, 'dest' + i, 'dist' + i, 'time' + i, 'price' + i,
                 'dName' + i, 'dPhone' + i, 'distToRest' + i, 'timeToRest' + i);
          break;
        }
      }
    }
    </script>
</head>
<body style="background-color: #999999;">
<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('images/SignUpPage.jpg');"></div>
        <div class="wrap-login100 p-l-60 p-r-50 p-t-32 p-b-50">
            	<span class="login100-form-title p-b-20">
						Delivery Page
					</span>
            <p class="label-input100"><font size="5">Driver ID: <span id="dID">{{dID}}</font></p><br><br>
            <p class="label-input100"><font size="5">Start to receive delivery</font></p>
            <br>
            <input type="radio" name="ready" id="off" checked onclick="turnOff()">
              <span><font size="4"><b>OFF</b></font></span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="ready" onclick="sendDriverInfo()">
              <span><font size="4"><b>ON</b></font></span>
            <br><hr class="my-4">
            <form class="login100-form validate-form">
                <div id='requests'></div>
                <div id='acceptB' class="container-login100-form-btn"></div>
            </form>
            <br>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn" align="center">
                    <div class="login100-form-bgbtn"></div>
                    <a href="/driver"><button class="login100-form-btn" >Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='hiddenInfo' style="visibility:hidden;"></div>
<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
</body>
</html>
