<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delivery Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">


<style type="text/css">
            .eM {
    font-size: 14px;
    background-color: rgba(255,0,0, 0.2);
    color: rgb(255,0,0);
    text-align: center;
    border-radius: 15px;
    width: auto;
    display: inline-block;
    height: fit-content;
    margin-right: 7%;
    animation-name: transparent;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


</style>

<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('images/SignUpPage.jpg');"></div>
        <div class="wrap-login100 p-l-60 p-r-50 p-t-32 p-b-50">
            <form class="login150-form validate-form" method="post">
					<span class="login50-form-title p-b-20">
						Delivery information
					</span>
                <br> <br>
                <div class="wrap-input100 validate-input" data-validate="Order ID is required">
                    <span class="label-input100">Check Order:

                         <span class = "eM">
                        <!-- Dynamic variable for error message.  -->
                        {{message}}
                    </span>

                    </span>
                    <input class="input100" type="text" name="orderId" placeholder="Enter the order ID...">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Check
                        </button>
                    </div>
                </div>
            </form>
            <br>
            <div class="jumbotron">
		    <h3 class="display-6">Order ID: {{orderId}} </h3>
                <p class="lead">Restaurant Name: {{rName}}</p>
                <p class="lead">Restaurant Address: {{rAddr}}</p>
                <p class="lead">Destination: {{dest}}</p>
                <p class="lead">Distance: {{dist}}</p>
                <p class="lead">Duration: {{time}}</p>
		            <p class="lead">Total Price:{{price}}</p>
                <hr class="my-4">
            </div>
		    <br>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn" align="center">
                    <div class="login100-form-bgbtn"></div>
                    <a href="/driver"><button class="login100-form-btn" >Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>
