<!DOCTYPE html>
<html lang="en">
<head>
	<title>Restaurant Signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #999999;">

	    <style>     
        @keyframes transparent {
    from {opacity: 1}
    to {opacity: 0}
}
        .eM {
    font-size: 14px; 
    background-color: rgba(255,0,0, 0.2);
    color: rgb(255,0,0);
    text-align: center;
    border-radius: 15px;
    width: auto;
    display: inline-block;
    height: fit-content;
    margin-right: 7%;
    animation-name: transparent;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
    </style>

	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('images/SignUpPage.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-50">
				<form class="login100-form validate-form" method="post">
					<span class="login100-form-title p-b-20">
						Restaurant Sign Up

						<div class = "eM">
                        <!-- Dynamic variable for error message.  -->
                        {{errorM}}
                    </div>

					</span>

					<div class="wrap-input50 validate-input" data-validate="Username is required">
						<span class="label-input100">Email Address

							 <div class = "eM">
                        <!-- Dynamic variable for error message.  -->
                        {{errorEmail}}
                    </div>

						</span>

						<input class="input50" type="text" name="email" placeholder="student@sjsu.edu">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input50 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input50" type="text" name="pwd" placeholder="Ex: **** (at least 4)">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input50 validate-input" data-validate = "Repeat Password is required">
						<span class="label-input100">Repeat Password</span>
						<input class="input50" type="text" name="repeatpwd" placeholder="*************">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input50 validate-input" data-validate="Name is required">
						<span class="label-input100">Restaurant Name</span>
						<input class="input50" type="text" name="name" placeholder="Ex: Chipotle">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input50 validate-input" data-validate = "Address is required">
						<span class="label-input100">Address</span>
						<br>
						<input class="input50" type="text" name="address" placeholder="Ex: 1475 W San Carlos Street">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input50 validate-input" data-validate = "Valid phone is required">
						<span class="label-input100">Phone</span>
						<br>
						<input class="input50" type="text" name="phone" placeholder="Ex: 1234567890">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input50 validate-input" data-validate = "Credit card number is required">
						<span class="label-input100">Credit Card Number</span>
						<br>
						<input class="input50" type="text" name="creditCard" placeholder="1234567890123456">
						<span class="focus-input100"></span>
					</div>


					         <div class="flex-m w-full p-b-33">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
								<span class="txt1">
                                    By clicking here, you agree to ODFDS's
									<a href="#" class="txt2 hov1">
										Terms of Use.
									</a>
                                    and acknowledge you have read the
                                    <a href="#" class="txt2 hov1">
                                    Privacy Policy.
                                    </a>
								</span>
                        </label>
                    </div>

                </div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Sign Up
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
