<!DOCTYPE html>
<html lang="en">
<head>
    <title>Track the Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <style>
        @keyframes transparent {
            from {opacity: 1}
            to {opacity: 0}
        }
        .eM {
            font-size: 14px;
            background-color: rgba(255,0,0, 0.2);
            color: rgb(255,0,0);
            text-align: center;
            border-radius: 15px;
            width: auto;
            display: inline-block;
            height: fit-content;
            margin-right: 7%;
            animation-name: transparent;
            animation-delay: 2s;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }
        #map {
            height: 100%;
            width: 100%
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            font-family: Arial;
            color: white;
        }
        .split {
            height: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 0px;
        }
        .left {
            width: 65%;
            left: 0;
            background-color: #111;
        }
        .right {
            width: 35%;
            right: 0;
            background-color: white;
        }
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        .centered img {
            width: 150px;
            border-radius: 50%;
        }
    </style>
</head>
<body style="background-color: #999999;" onload="initialize()">
<div class="split left">
    <div id="map_canvas" style="width:100%;height:100%;"></div>

</div>
    <div class="split right">
        <div class="wrap-login100 p-l-60 p-r-50 p-t-32 p-b-50">
            <form class="login150-form validate-form" method="post">
					<span class="login100-form-title p-b-30">
						Track the Order
					</span>
                <br> <br>
                <div class="wrap-input100 validate-input" data-validate="Order ID is required">
                    <span class="label-input100">
                    Track Order:
                        <span class = "eM">
                        <!-- Dynamic variable for error message.  -->
                        {{message}}
                    </span>
                </span>
                    <input class="input100" type="text" name="orderId" placeholder="Enter the order ID...">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Track
                        </button>
                      </div>
                      <div class="wrap-login100-form-btn" >
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" onclick="window.location.href='/rest'">Go Back</button>
                      </div>
                    </div>
            <br><br><br>
            <div id="result" class="jumbotron">
                <h3 class="display-6" style="color:black;">Order ID: <span id="orderID">{{orderId}}</span></h3>
                <p class="lead">Driver ID: <span id="dID">{{dID}}</span></p>
                <p class="lead">Restaurant Address: <span id="rAddr">{{rAddr}}</span></p>
                <p class="lead">Destination: <span id="end">{{dest}}</span></p>
                <p class="lead">Total Distance: <span id="distance">{{dist}}</span></p>
                <p class="lead">Total Duration: <span id="time">{{time}}</span></p>
                <p class="lead">Total Price: {{price}}</p>
                <hr class="my-4">
                <p class="lead"></p>
                <!--<p class="lead">Distance Left: <span id="distLeft">{{distLeft}}</span></p>
                <p class="lead">Time Left: <span id="timeLeft">{{timeLeft}}</span></p>-->
                <hr class="my-4">
            </div></form></div>
            <br><br><br>
        </div>
        <p style="visibility:hidden;"><span id="lat">{{lat}}</span><span id="lng">{{lng}}</span></p>
    </div>
    <script type="text/javascript" src="js/script1.js"></script>
    <script type ="text/javascript" src="js/script2.js"></script>

    <!--<script type ="text/javascript" src="./MapExtension.js"></script>-->
    <script src="js/script3.js" type="text/javascript"></script>
    <script src = "/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var map;
        var directionDisplay;
        var directionsService;
        var stepDisplay;

        var position;
        var marker = [];
        var polyline = [];
        var poly2 = [];
        var poly = null;
        var startLocation = [];
        var endLocation = [];
        var timerHandle = [];


        var speed = 3, wait = 0;
        var infowindow = null;

        var myPano;
        var panoClient;
        var nextPanoId;

        var startLoc = new Array();
        //startLoc[0] = 'In n out, San Jose';
        //window.alert(document.getElementById('rAddr').innerHTML, document.getElementById('end').innerHTML);
        startLoc[0] = document.getElementById('rAddr').innerHTML;

        var endLoc = new Array();
        //endLoc[0] = 'San Jose State University';
        endLoc[0] = document.getElementById('end').innerHTML;



        var Colors = ["#FF0000", "#00FF00", "#0000FF"];


        function initialize() {

            infowindow = new google.maps.InfoWindow(
                {
                    size: new google.maps.Size(150,50)
                });

            var myOptions = {
                zoom: 1,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);



            address = 'San Jose'
            geocoder = new google.maps.Geocoder();
            geocoder.geocode( { 'address': address}, function(results, status) {
                map.fitBounds(results[0].geometry.viewport);

            });
            // Change driver's current geo location to address.
            var dLat = document.getElementById('lat').innerHTML;
            var dLng = document.getElementById('lng').innerHTML;
            var latlng = {lat: parseFloat(dLat), lng: parseFloat(dLng)};
            geocoder.geocode({'location': latlng}, function(results, status) {
              if (status === 'OK'){
                startLoc[0] = results[0].formatted_address;
                setRoutes();  //To start route and movement right away
              }
            });
        }


        function createMarker(latlng, label, html) {
            var contentString = '<b>'+label+'</b><br>'+html;
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: label,
                zIndex: Math.round(latlng.lat()*-100000)<<5
            });
            marker.myname = label;


            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(contentString);
                infowindow.open(map,marker);
            });
            return marker;
        }

        function setRoutes(){

            var directionsDisplay = new Array();

            for (var i=0; i< startLoc.length; i++){

                var rendererOptions = {
                    map: map,
                    suppressMarkers : true,
                    preserveViewport: true
                }
                directionsService = new google.maps.DirectionsService();

                var travelMode = google.maps.DirectionsTravelMode.DRIVING;

                var request = {
                    origin: startLoc[i],
                    destination: endLoc[i],
                    travelMode: travelMode
                };

                directionsService.route(request,makeRouteCallback(i,directionsDisplay[i]));

            }


            function makeRouteCallback(routeNum,disp){
                if (polyline[routeNum] && (polyline[routeNum].getMap() != null)) {
                    startAnimation(routeNum);
                    return;
                }
                return function(response, status){

                    if (status == google.maps.DirectionsStatus.OK){

                        var bounds = new google.maps.LatLngBounds();
                        var route = response.routes[0];
                        startLocation[routeNum] = new Object();
                        endLocation[routeNum] = new Object();


                        polyline[routeNum] = new google.maps.Polyline({
                            path: [],
                            strokeColor: '#FFFF00',
                            strokeWeight: 3
                        });

                        poly2[routeNum] = new google.maps.Polyline({
                            path: [],
                            strokeColor: '#FFFF00',
                            strokeWeight: 3
                        });


                        // For each route, display summary information.
                        var path = response.routes[0].overview_path;
                        var legs = response.routes[0].legs;


                        disp = new google.maps.DirectionsRenderer(rendererOptions);
                        disp.setMap(map);
                        disp.setDirections(response);

                        //Markers
                        for (i=0;i<legs.length;i++) {
                            if (i == 0) {
                                startLocation[routeNum].latlng = legs[i].start_location;
                                startLocation[routeNum].address = legs[i].start_address;
                                marker[routeNum] = createMarker(legs[i].start_location,"Current Location",legs[i].start_address,"green");
                            }
                            endLocation[routeNum].latlng = legs[i].end_location;
                            endLocation[routeNum].address = legs[i].end_address;
                            var steps = legs[i].steps;

                            for (j=0;j<steps.length;j++) {
                                var nextSegment = steps[j].path;
                                var nextSegment = steps[j].path;

                                for (k=0;k<nextSegment.length;k++) {
                                    polyline[routeNum].getPath().push(nextSegment[k]);
                                    bounds.extend(nextSegment[k]);
                                }

                            }
                        }

                    }

                    polyline[routeNum].setMap(map);
                    map.fitBounds(bounds);
                    startAnimation(routeNum);
                } // else alert("Directions request failed: "+status);

            }

        }

        var lastVertex = 1;
        var stepnum=0;


        var totalTime = document.getElementById("time").innerHTML;
        var totalDistance = document.getElementById("distance").innerHTML;
        //var totalTime = 11; //15
        //var totalDistance = 3.1 //5

        var step = (totalDistance / (0.00062137))/ (totalTime * 6 ); // totalTime, totalDistance
        var tick = 50;
        //var tick = 10000;


        var eol= [];
        //----------------------------------------------------------------------
        function updatePoly(i,d) {
            // Spawn a new polyline every 20 vertices, because updating a 100-vertex poly is too slow
            if (poly2[i].getPath().getLength() > 20) {
                poly2[i]=new google.maps.Polyline([polyline[i].getPath().getAt(lastVertex-1)]);
            }

            if (polyline[i].GetIndexAtDistance(d) < lastVertex+2) {
                if (poly2[i].getPath().getLength()>1) {
                    poly2[i].getPath().removeAt(poly2[i].getPath().getLength()-1)
                }
                poly2[i].getPath().insertAt(poly2[i].getPath().getLength(),polyline[i].GetPointAtDistance(d));
            } else {
                poly2[i].getPath().insertAt(poly2[i].getPath().getLength(),endLocation[i].latlng);
            }
        }
        //----------------------------------------------------------------------------

        function animate(index,d) {
          var socket = io();
          // Driver arrived at the destination.
          if (d > eol[index]) {
              marker[index].setPosition(endLocation[index].latlng);
              // window.alert(endLocation[index].latlng);
              window.alert("Order Completed!");
              var dID = document.getElementById("dID").innerHTML;
              var orderID = document.getElementById("orderID").innerHTML;
              // Let server know order compeleted.
              socket.emit('orderCompleted', dID, orderID);
              return;
          }
            var p = polyline[index].GetPointAtDistance(d);
            //window.alert(p);
            // Sends server driver's location to change driver's current loc.
            if (p != endLocation[index].latlng) {
              var dID = document.getElementById("dID").innerHTML;
              var dest = document.getElementById("end").innerHTML;
              socket.emit('driverLoc', dID, p, dest);
            }
            //socket.on('trackRoute', function(data) {
              //window.alert(data.distLeft, data.timeLeft);
            //  document.getElementById("distLeft").innerHTML = data.distLeft;
            //  document.getElementById("timeLeft").innerHTML = data.timeLeft;
            //});

            map.panTo(p);
            marker[index].setPosition(p);
            updatePoly(index,d);
            timerHandle[index] = setTimeout("animate("+index+","+(d+step)+")", tick);
        }

        //-------------------------------------------------------------------------

        function startAnimation(index) {
            if (timerHandle[index]) clearTimeout(timerHandle[index]);
            eol[index]=polyline[index].Distance();
            map.setCenter(polyline[index].getPath().getAt(0));

            poly2[index] = new google.maps.Polyline({path: [polyline[index].getPath().getAt(0)], strokeColor:"#FFFF00", strokeWeight:3});

            timerHandle[index] = setTimeout("animate("+index+",50)",1000);  // Allow time for the initial map display
        }

    </script>
<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>
